html,body{
  height: 100%;
}
//右边固定工具栏
.jd-right-toolbar {
  position: fixed;
  _position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  color: #fff;
  z-index: 100;
  //右边背景线
    .jd-right-line {
      position: absolute;
      right: 0;
      width: 6px;
      height: 100%;
      background-color: #7a6e6e;
    }
  //右边居中的工具栏
    .toolbar-center {
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -90px;
    }
  //右下角工具栏
    .toolbar-bottom{
      position: absolute;
      right: 0;
      bottom: 0;
    }
  div{
    position: relative;
    margin-bottom: 1px;
  }
  //触摸工具栏产生背景色
  .toolbar-icon:hover{
      background-color: #c81623;
  }
    //触碰a时候触发隐藏工具
    a:hover{
      .toolbar-style{
        left: -62px;
        background-color: #c81623;
      }
  }


  //工具栏图标
  .toolbar-icon{
    position: relative;
    _display: block;
    display: block;
    background-color: #7a6e6e;
    width: 34px;
    height: 35px;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
    //工具栏背景图
    i{
      position: absolute;
      left: 6px;
      top: 8px;
      display: block;
      width: 20px;
      height: 20px;
      background: url("../images/toolbar.png")  no-repeat;
    }
    .icon1{
      background-position: -55px -5px;
    }
    .icon2{
      background-position: -55px -55px;
    }
    .icon3{
      background-position: -55px -105px;
    }
    .icon4{
      background-position: -55px -155px;
    }
    .icon5{
      background-position: -195px -155px;
    }
    .icon6{
      background-position: -55px -255px;
    }
    .icon7{
      background-position: -55px -305px;
    }
  }
  //隐藏的工具触摸出现
  .toolbar-style{
    position: absolute;
    top: 0;
    left: 35px;
    width: 62px;
    height: 35px;
    text-align: center;
    color: #fff;
    line-height: 35px;
    background-color: #7a6e6e;
    cursor: pointer;
    z-index: -1;
    font-family: "微软雅黑", "SimSun", "宋体", "Arial Narrow";
    -webkit-transition: all .3s;
    -moz-transition: all  .3s;
    -ms-transition: all .3s;
    -o-transition: all  .3s;
    transition: all .3s;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
  };
}
//------------------顶部开始-----------------
.header-top{
  width: 100%;
  height: 30px;
  background-color: #f1f1f1;
  //顶部导航栏盒子
  .header-top-box{
    position: relative;
    z-index: 99;
    //顶部导航栏左边地区栏
    .header-top-left{
      position: relative;
      float: left;
      line-height: 30px;
      .bj{
        &:hover{
          .bj-l{
            display: block;
          }
        }
        .bj-l{
          position: absolute;
          width: 310px;
          top: 30px;
          left: 0;
          border: 1px solid #cccccc;
          border-top:  none;
          display: none;
          background-color: #fff;
          a{
            float: left;
            height: 20px;
            line-height: 20px;
            display: block;
            margin: 0 12px;
            padding: 2px 5px;
            &:hover{
              background-color: #F1F1F1;
            }
          }
        }
      }
    }
    //顶部右边导航栏
    .header-top-right{
      float: right;
      //分割线
      .line{
        margin-top: 8px;
        width: 1px;
        height: 14px;
        padding: 0;
        border-left: 0;
        border-right: 0;
        background-color: #dddddd;
      }
    //  我的京东
      .my-jd{
        position: relative;
        &:hover{
          .my-jd-info{
            display: block;
          }
        }
        .my-jd-info{
          position: absolute;
          width: 260px;
          height: 240px;
          left: -1px;
          border: 1px solid #ccc;
          border-top: none;
          display: none;
          background-color: #fff;
          .jd-info-top{
            overflow: hidden;
            img{
              float: left;
              width: 77px;
              height: 77px;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              border-radius: 50%;
              margin: 15px;
            }
            .jd-info-top-bottom{
              float: left;
              margin-top: 25px;
              margin-left: 20px;
              a{
                display: block;
                i{
                  font: bold 14px "Microsoft YaHei";
                }
              }
            }
          }
        //  京东订单
          ul{
            li{
              border: none;
              padding: 0 24px 0 15px;
            }
          }
        }
      }
    //  手机京东
      .sj-jd{
        position: relative;
        &:hover{
          .sj-jd-code{
            display: block;
          }
        }
        .sj-jd-code{
          position: absolute;
          width: 282px;
          left: -1px;
          border: 1px solid #ccc;
          border-top: none;
          display: none;
          background-color: #fff;
          .sj-jd-t{
            overflow: hidden;
            border-bottom: 1px dashed #ccc;
          }
          .shouji90{
            float: left;
            width: 90px;
            height: 90px;
            margin: 10px;
          }
          .shouji-info{
            float: left;
            margin-top: 10px;
            p{
              height: 22px;
              font-size: 14px;
            }
            img{
              width: 25px;
              height: 28px;
              padding: 10px;
            }
          }
        }
      }
      //关注京东
      .gz-jd{
        position: relative;
        &:hover{
          .gz-jd-code{
            display: block;
          }
        }
        .gz-jd-code{
          position: absolute;
          width: 100%;
          text-align: center;
          left: -1px;
          border: 1px solid #ccc;
          border-top: none;
          display: none;
          background-color: #fff;
        }
      }
      //客户服务
      .customerService{
        position: relative;
        &:hover{
          .cs-box{
            display: block;
          }
        }
        .cs-box{
          position: absolute;
          width: 164px;
          left: -1px;
          border: 1px solid #ccc;
          border-top: none;
          display: none;
          background-color: #fff;
          .cs-box-top{
            border-bottom: 1px dashed #ccc;
          }
          h3{
            margin-left: 10px;
            font: bold 14px "Microsoft YaHei";
            color: #666;
          }
          .cs-box-style{
            li{
              border: none;
              padding: 0 24px 0 10px;
            }
          }
        }
      }
    //  网站导航
      .webNav{
        &:hover{
          .webNav-link-wrap{
            display: block;
          }
        }
        .webNav-link-wrap{
          position: absolute;
          left: -2px;
          width: 100%;
          border: 1px solid #ddd;
          border-top: none;
          display: none;
          background-color: #fff;
          .webNav-link{
            float: left;
            width: 279px;
            border-right: 1px solid #ddd;
            padding-left: 10px;
            margin: 20px 5px;
            h4{
              margin-left: 10px;
              font-weight: bold;
            }
            ul{
              overflow: hidden;
              li{
                float: left;
                width: 50px;
                border: none;
                padding: 0 10px 0 24px;
              }
            }
          }
        }
      }
    }
    //导航栏所需样式设置
    li{
      float: left;
      padding: 0 7px 0 10px;
      line-height: 30px;
      height: 30px;
      font-size: 12px;
      border-left: 1px solid #f1f1f1;
      border-right: 1px solid #f1f1f1;
      //导航触摸特效
      &.text-style:hover{
        background-color: #fff;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        .turn{
          -webkit-transform: rotate(180deg);
          -moz-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          -o-transform: rotate(180deg);
          transform: rotate(180deg);
        }
      }
      .turn{
        display: inline-block;
        position: relative;
        width: 11px;
        height: 7px;
        margin-left: 6px;
        overflow: hidden;
        -webkit-transition: all .1s;
        -moz-transition: all .1s;
        -ms-transition: all .1s;
        -o-transition: all .1s;
        transition: all .1s;
        .sj{
          position: absolute;
          display: block;
          width: 10px;
          height: 18px;
          top: -6px;
          font-weight: 500;
        }
      }
    }
  }
}
//-------------------广告栏开始------------------------
.top-banner{
  background-color: #f5245b;
  .top-ba{
    position: relative;
      .close{
        position: absolute;
        top: 10px;
        right: 0;
        width: 20px;
        height: 20px;
        text-align: center;
        color: #fff;
        background-color: rgba(0,0,0,0.2);
        cursor: pointer;
      }
  }
}
//-------------------广告栏结束------------------------
//---------------------logo 搜索 购物车开始-------------------
//LOGO
.logo{
  float: left;
  padding: 20px 0 ;
  width: 360px;
}
//搜索栏
.search{
  position: relative;
  float: left;
  margin-top: 30px;
  input{
    float: left;
    width: 455px;
    height: 24px;
    padding: 4px;
    font-family: "Microsoft YaHei";
    font-size: 14px;
    border: 2px solid #b61d1d;
  }
  .search-style{
    float: left;
    width: 82px;
    height: 36px;
    color: #fff;
    font-size: 16px;
    background-color: #b61d1d;
    cursor: pointer;
  }
  ul{
    position: absolute;
    top: 40px;
    left: 0;
    li{
      float: left;
      margin-right: 14px;
    }
  }
  ul.search-nav{
    top: 35px;
    left: 0;
    width: 547px;
    border: 1px solid #ccc;
    background-color: #fff;
    z-index: 10;
    display: none;
    &>li{
      width: 537px;
      float: none;
      font-size: 16px;
      margin-top: 10px;
      padding-left: 10px;
      &:hover{
        background-color: #ccc;
        cursor: pointer;
      }
    }
  }
}
//我的购物车
.shoppingCar{
  position: relative;
  float: right;
  margin-top: 30px;
  width: 75px;
  height: 34px;
  line-height: 34px;
  margin-right: 65px;
  border: 1px solid #dfdfdf;
  padding: 0 28px 0 34px;
  .gw-img{
    position: absolute;
    display: block;
    top: 9px;
    left: 8px;
    width: 24px;
    height: 24px;
    background: url(../images/jd2015img.png) no-repeat 0 -58px;
  }
  .gw-r{
    font: 400 13px/13px simsun;
    position: absolute;
    top: 10px;
    right: 11px;
  }
  .shoppingCar-item{
    position: absolute;
    top: -4px;
    right: 24px;
    width: 14px;
    height: 14px;
    color: #fff;
    text-align: center;
    line-height: 14px;
    background-color: #c81623;
    -webkit-border-radius: 11px 11px 11px 0px;
    -moz-border-radius: 11px 11px 11px 0px;
    border-radius: 11px 11px 11px 0px;
    -webkit-animation: autoplay 1s ease infinite;
    -moz-animation: autoplay 1s ease infinite;
    -o-animation: autoplay 1s ease infinite;
    -ms-animation: autoplay 1s ease infinite;
    animation: autoplay 1s ease infinite;
  }
  @-webkit-keyframes autoplay{
    0%,100%{
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);}
    50%{
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
  .shoppingCar-info{
    position: absolute;
    right: -1px;
    width: 308px;
    height: 60px;
    line-height: 60px;
    border: 1px solid #ccc;
    background-color: #fff;
    display: none;
    z-index: 10;
    text-align: center;
  }
  &:hover{
    .shoppingCar-info{
      display: block;
    }
  }
}
//---------------------logo 搜索 购物车结束-------------------
//----------------------横向导航栏开始--------------------------
.jd-nav{
  position: relative;
  height: 50px;
  //全部商品分类
  .jd-nav-item{
    position: relative;
    width: 210px;
    &>img{
      width: 100%;
      height: 50px;
    }
    .jd-nav-item-font{
      position: absolute;
      top: 14px;
      left: 10px;
      font-size: 16px;
      a{
        color: #fff;
      }
    }
  //  侧边导航栏
    .jd-nav-side{
      width: 100%;
      background-color: #c81623;
      .jd-nav-side-wrap{
        .jd-nav-side-box{
          position: relative;
          width: 208px;
          height: 31px;
          font: 400 14px/31px "Microsoft YaHei";
          color: #fff;
          border-left: 2px solid #c81623;
          &:hover{
            background-color: #fff;
            &>a,&>i{
              color: red;
            }
          }
          &>a{
            margin-left: 10px;
            color: #fff;
          }
          .jd-nav-side-sj{
            position: absolute;
            top: 9px;
            right: 14px;
            width: 4px;
            height: 14px;
            font: 400 9px/14px consolas;
          }
        }
        &:hover{
          .jd-nav-side-items{
            display: block;
          }
        }
      }

    }
  }
  //右边分类导航
  .jd-nav-bar{
    position: absolute;
    top: 0;
    left: 230px;
    &>li{
      float: left;
      line-height: 50px;
      padding: 0 20px;
      a{
        position: relative;
        font-size: 16px;
        .nhj{
          position: absolute;
          top: -29px;
          right: -35px;
          -webkit-animation: rocks 1s ease infinite;
          -o-animation: rocks 1s ease infinite;
          -moz-animation: rocks 1s ease infinite;
          -ms-animation: rocks 1s ease infinite;
          animation: rocks 1s ease infinite;
        }
        @-webkit-keyframes rocks{
          0%,100%{-webkit-transform:translate(0,0) rotate(0);}
          15%{-webkit-transform: translate(-15%,0) rotate(-5deg);}
          30%{ -webkit-transform: translate(10%,0) rotate(3deg);}
          45%{ -webkit-transform: translate(-10%,0) rotate(-3deg);}
          60%{ -webkit-transform: translate(5%,0) rotate(2deg);}
          75%{ -webkit-transform: translate(-5%,0) rotate(-1deg);}
        }
        @-ms-keyframes rocks{
          0%,100%{ -ms-transform:translate(0.0) rotate(0);}
          15%{ -ms-transform: translate(-15%,0) rotate(-5deg);}
          30%{ -ms-transform: translate(10%,0) rotate(3deg);}
          45%{ -ms-transform: translate(-10%,0) rotate(-3deg);}
          60%{-ms-transform: translate(5%,0) rotate(2deg);}
          75%{ -ms-transform: translate(-5%,0) rotate(-1deg);}
        }
        @keyframes rocks{
          0%,100%{transform:translate(0.0) rotate(0);}
          15%{transform: translate(-15%,0) rotate(-5deg);}
          30%{transform: translate(10%,0) rotate(3deg);}
          45%{transform: translate(-10%,0) rotate(-3deg);}
          60%{transform: translate(5%,0) rotate(2deg);}
          75%{transform: translate(-5%,0) rotate(-1deg);}
        }
      }
    }
  }
//  右边图片
  .img-br{
    position: absolute;
    top: 0;
    right: 0;
  }
}
//详细分类格式
.jd-nav-side-items{
  position: absolute;
  width: 999px;
  height: 463px;
  top: 50px;
  left: 210px;
  border: 1px solid red;
  border-left: none;
  background-color: #f7f7f7;
  z-index: 100;
  display: none;
  //左边详细分类
  .side-items-l{
    padding: 20px 0 0 20px;
    float: left;
    .side-items-top{
      a{
        float: left;
        padding-left: 8px;
        //display: inline-block;
        background-color: #7c7171;
        line-height: 24px;
        font-size: 12px;
        color: #fff;
        margin-left: 10px;
        &:hover{
          background-color: #c81623;
          i{background-color: #c81623;}
        }
        i{
          display: inline-block;
          width: 23px;
          height: 24px;
          text-align: center;
          background-color: #333740;
          font: 400 9px/24px consolas;
        }
      }


    }
    .side-items-bottom{
        dl{
          padding: 8px 30px 0 0px;
          overflow: hidden;
          dt{
            position: relative;
            width: 54px;
            float: left;
            text-align: right;
            a{
              color: #666666;
              font-weight: 700;
              font-size: 13px;
              height: 14px;
              &:hover{
                color: #f00;
              }
              i{
                position: absolute;
                top: 9px;
                left: 59px;
                font: 400 9px consolas;
              }
            }
          }
          dd{
            float: left;
            width: 620px;
            margin-left: 20px;
            a{
              display: inline-block;
              height: 16px;
              margin: 10px 0;
              font: 12px/16px Arial;
              padding: 0 7px;
              border-left: 1px solid #ccc;
            }
          }
        }
    }
  }
//  右边广告图片
  .side-items-r{
    float: right;
    width: 171px;
    margin: 20px 20px 10px 0;
    .side-items-r-top{
      a{
        display: inline;
        img{
          width: 83px;
          height: 35px;
          margin-left: -1px;
        }
      }
    }
    .side-items-r-bottom{
      margin-top: 10px;
    }
  }
}
//轮播图
.jd-slider{
  position: absolute;
  top: 61px;
  left: 220px;
  &>div.slider-fade-nav{
    .prev{
      left: 0;
    }
    .next{
      right: 0;
    }
  }
  .slider-fade{
    width: 730px;
    height: 454px;
    overflow: hidden;
    li{
      position: absolute;
    }
  }
  //轮播图索引
  .slider-fade-index{
    position: absolute;
    left: 50%;
    bottom: 45px;
    margin-left: -90px;
    padding: 5px;
    background-color: rgba(255,255,255,0.3);
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    &>li{
      float: left;
      width: 10px;
      height: 10px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background-color: #fff;
      cursor: pointer;
      margin: 0 10px;
    }
    .active{
      background-color: #db192a;
    }
  }

}
//  轮播图箭头切图
.slider-fade-nav{
  //display: none;
  i{
    position: absolute;
    display: block;
    top: 50%;
    margin-top: -31px;
    font-size: 20px;
    color: rgba(255,255,255,0.8);
    line-height: 60px;
    text-align: center;
    width: 30px;
    height: 60px;
    font-family: iconfont;
    font-style: normal;
    background-color: rgba(0,0,0,0.3);
    cursor: pointer;
    &:hover{
      background-color: rgba(0,0,0,0.6);
    }
  }
  .prev{

  }
  .next{

  }
}
//  京东快报
.jd-news{
  position: absolute;
  top: 61px;
  right: 0;
  .jd-news-t{
    border: 1px solid #ccc;
    height: 200px;
  }
  .jd-news-b{
    width: 248px;
    border: 1px solid #ccc;
    //border-right: none;
    height: 252px;
    .news-title{
      border-bottom: none;
      border-right: 1px solid #ccc;
    }
    li{
      width: 61px;
      height: 70px;
      float: left;
      text-align: center;
      border-top: 1px dashed #ccc;
      border-right: 1px solid #ccc;
        a{
          i{
            display: block;
            width: 25px;
            height: 25px;
            margin: 10px 0 10px 16px;
          }
        }
    }
  }
  .icon1{
    background: url("../images/568dfdbdN4f7d7ca3.png") no-repeat 0 0;
  }
  .icon2{
    background: url("../images/568dfdbdN4f7d7ca3.png") no-repeat 0 -25px;
  }
  .icon3{
    background: url("../images/568dfdbdN4f7d7ca3.png") no-repeat 0 -50px;
  }
  .icon4{
    background: url("../images/568dfdbdN4f7d7ca3.png") no-repeat 0 -75px;
  }
  .icon5{
    background: url("../images/568dfdbdN4f7d7ca3.png") no-repeat 0 -100px;
  }
  .icon6{
    background: url("../images/568dfdbdN4f7d7ca3.png") no-repeat 0 -125px;
  }
  .icon7{
    background: url("../images/568dfdbdN4f7d7ca3.png") no-repeat 0 -150px;
  }
  .icon8{
    background: url("../images/568dfdbdN4f7d7ca3.png") no-repeat 0 -175px;
  }
  .icon9{
    background: url("../images/568dfdbdN4f7d7ca3.png") no-repeat 0 -200px;
  }
  .icon10{
    background: url("../images/568dfdbdN4f7d7ca3.png") no-repeat 0 -225px;
  }
  .icon11{
    background: url("../images/568dfdbdN4f7d7ca3.png") no-repeat 0 -250px;
  }
  .icon12{
    background: url("../images/568dfdbdN4f7d7ca3.png") no-repeat 0 -275px;
  }
  .news-title{
    border-bottom: 1px solid #ccc;
    height: 43px;
    line-height: 43px;
    padding: 0 9px;
    font-weight: 600;
    &>h3{
      float: left;
      font-size: 1.17em;
      font-weight: bold;
    }
    &>a{
      float: right;
    }
  }
  .news-content{
    width: 248px;
    height: 166px;
    border-top: none;
    &>li{
      padding: 8px 0 0 15px;
      span{
        margin-right: 5px;
        font-weight: bold;
      }
    }
  }
}
//背景装饰
.bjzs{
  position: relative;
  height: 469px;
  z-index: -1;
}
.bjzs-img1{
  position: absolute;
  width: 100%;
  height: 10px;
  top: -10px;
  z-index: -1;
  background: url("../images/568a1258N2edec1ab.jpg") repeat-x;
}
.bjzs-img2{
  position: absolute;
  width: 100%;
  height: 469px;
  z-index: -1;
  background: url("../images/568a0a8eNe8f4df82.jpg") no-repeat center 20px;
}
//今日推荐
.today{
  position: relative;
  margin-top: 5px;
  overflow: hidden;
  //overflow: hidden;
  &>.slider-fade-nav{
    display: block;
    .prev{
      left: 210px;
    }
    .next{
      right: 0;
    }
  }
}
.today-l{
  float: left;
  position: relative;
  z-index: 5;
}
.today-r{
  position: absolute;
  left: 210px;
  width: 3270px;
  height: 164px;
  ul{
    float: left;
    overflow: hidden;
    width: 1020px;

    }
    li{
      float: left;
      margin-right: 5px;
    }
  }

